name: CI Pipeline

on:
  push:
    branches:
      - main
      - master
jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: install python lint tool (flake8)
        run: pip install flake8

      - name: lint python code
        run: flake8 app/

      - name: install helm
        run: |
           curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Lint Helm chart
        run: helm lint helm/devops-app

      - name: setup terraform
        uses: hashicorp/setup-terraform@v3
        with: terraform_version: "1.14.3"

      - name: terraform validate
        run: |
          cd terraform
          terraform init -backend=false
          terraform validate

      - name: build docker images
        run: docker build -t devops-app . 

